/* LOADER  */
.lds-ripple-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #0EB4C1;
  transition: transform 0.6s ease;
}

.lds-ripple-wrapper--none {
  overflow: hidden;
  transform: translateY(-100%);
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ripple div {
  position: absolute;
  border: 4px solid #DE2E54;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}


/* GLOBAL  */
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #444;
  background-color: #fff;
}

*:focus {
  outline: #DE2E54 dotted 2px;
  outline-offset: 2px;
  outline-width: 3px;
}


/* CONTAINER  */
.container {
  width: 100%;
  max-width: 1160px;
  padding-right: 30px;
  padding-left: 30px;
  margin-left: auto;
  margin-right: auto;
}

.main-content {
  flex-grow: 1;
}

/*  SITE HEADER  */
.site-header {
  padding-top: 24px;
  padding-bottom: 24px;
}

.site-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/* SITE-LOGO  */
.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  flex-shrink: 0;
}

.logo:active {
  opacity: 0.6;
}

.logo__img {
  margin: 0;
  border-radius: 50%;
}

.logo__text {
  margin-left: 16px;
  font-size: 24px;
  font-weight: 600;
  color: #222;
  transition: color 0.3s ease;
}

.logo__text:hover {
  color: #DE2E54;
}


/* SITE NAVIGATOR  */
.sitenav {
  margin-left: 30px;
}

.sitenav__list {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.sitenav__item:not(:last-child) {
  margin-right: 32px;
}

.sitenav__link {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 14px;
  color: #222;
  transition: color 0.3s ease;
}

.sitenav__link:hover {
  color: #DE2E54;
}

.sitenav__link:active {
  opacity: 0.6;
}

.site-footer__sitenav .sitenav__link {
  color: #fff;
}

.site-footer__sitenav .sitenav__link:hover {
  color: #DE2E54;
}

.site-footer__sitenav .sitenav__link:active{
  color: #fff;
  opacity: 0.6;
}



/* MAIN-LINK  */
.cta-link {
  display: inline-block;
  background-color: #DE2E54;
  border-radius: 8px;
  border: 2px solid #DE2E54;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 22px;
  padding-left: 22px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Open Sans Condensed";
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 2px;
  color: #fff;
  white-space: nowrap;
  transition: background-color 0.3s ease;
}

.cta-link:hover {
  background-color: #fff;
  color: #DE2E54;
  border-color: #DE2E54;
}

.cta-link:active {
  background-color: #DE2E54;
  color: #fff;
  opacity: 0.6;
}

.cta-link--transparent {
  background-color: transparent;
  border-color: #fff;
}

.cta-link--transparent:hover {
  border-color: transparent;
  background-color: rgba(222, 46, 84, 1);
  color: #fff;
}

.cta-link--transparent:active {
  background-color: rgba(222, 46, 84, 0.6);
  opacity: 1;
}


/*  HERO  */
.hero {
  background-color: #0EB4C1;
  color: #fff;
}

.hero__container {
  display: flex;
  justify-content: space-between;
}

.hero__content {
  width: 500px;
  padding-top: 120px;
  padding-bottom: 120px;
}

.hero__heading {
  margin-top: 0;
  margin-bottom: 16px;
  font-family: "Open Sans Condensed";
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
}

.hero__text {
  margin-top: 0;
  margin-bottom: 36px;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  width: 440px;
}

.hero__img {
  align-self: flex-end;
}

.cta-link--transparent:not(:last-child) {
  margin-right: 40px;
}


/* INDEX-SERVICES  */
.index-services {
  padding-top: 120px;
  padding-bottom: 120px;
}

.index-services__heading {
  margin-top: 0;
  margin-bottom: 56px;
  text-align: center;
  font-family: "Open Sans Condensed";
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2px;
  color: rgba(0, 0, 0, 1);
}

.services-list {
  width: 864px;
  padding: 0;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  list-style: none;
}

.services-list__item {
  display: flex;
  align-items: center;
}

.services-list__item:not(:last-child) {
  margin-bottom: 80px;
}

.services-list__img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-right: 64px;
  box-shadow: 0px 12px 24px -8px rgba(0, 107, 116, 0.3);
  border-radius: 24px;
}

.services-list__content {
  width: 100%;
  max-width: 600px;
}

.services-list__title {
  margin-top: 0;
  margin-bottom: 24px;
  font-family: "Open Sans Condensed";
  font-size: 24px;
  line-height: 1.2;
  color: #222;
}

.services-list__description {
  margin: 0;
}

.cta-link-wrapper {
  display: flex;
  justify-content: center;
}

/* CTA  */
.cta {
  background-color: #0EB4C1;
  padding-top: 64px;
  padding-bottom: 64px;
  color: #fff;
}

.cta__heading {
  margin-top: 0;
  margin-bottom: 40px;
  text-align: center;
  font-family: "Open Sans Condensed";
  font-size: 36px;
  line-height: 1.2;
  white-space: nowrap;
}

.cta__links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cta__links:not(:last-child) {
  margin-right: 40px;
}

.cta__link--outline {
  border-color: #fff;
  background-color: transparent;
  color: #fff;
}

.cta__link--outline:hover {
  background-color: #DE2E54;
  color: #fff;
}


/* SITE-FOOTER  */
.site-footer {
  background-color: #222;
}

.site-footer *:focus {
  outline-color: #fff;
}

.site-footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
}

.logo__text--footer {
  color: #fff;
}

.logo__text--footer:hover {
  color: #DE2E54;
}

.logo__text--footer:active {
  color: #fff;
  opacity: 0.6;
}


/* 1000px */
/* @media (max-width: 1000px) {

} */