/* GLOBAL  */
* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #444;
  background-color: #fff;
}

*:focus {
  outline: #DE2E54 dotted 2px;
  outline-offset: 2px;
  outline-width: 3px;
}

/* CONTAINER  */
.container {
  width: 100%;
  max-width: 1160px;
  padding-right: 30px;
  padding-left: 30px;
  margin-left: auto;
  margin-right: auto;a
}


/* SITE-HEADER  */
.site-header {
  padding-top: 24px;
  padding-bottom: 24px;
}

.site-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/* SITE-LOGO  */
.site-logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.site-logo:active {
  opacity: 0.6;
}

.site-logo-img {
  margin: 0;
  margin-right: 16px;
  border-radius: 50%;
}

.site-logo-text {
  font-size: 24px;
  font-weight: 600;
  color: #222;
  transition: color 0.3s ease;
}

.site-logo-text:hover {
  color: #DE2E54;
}


/* SITE-NAVIGATOR  */
.site-nav-list {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.site-nav-items:not(:last-child) {
  margin-right: 32px;
}

.site-nav-links {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 14px;
  color: #222;
  transition: color 0.3s ease;
}

.site-nav-links:hover {
  color: #DE2E54;
}

.site-nav-links:active {
  opacity: 0.6;
}


/* MAIN-LINK  */
.main-link {
  display: inline-block;
  background-color: #DE2E54;
  border-radius: 8px;
  border: 2px solid #DE2E54;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 22px;
  padding-left: 22px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Open Sans Condensed";
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 2px;
  color: #fff;
  transition: background-color 0.3s ease;
}

.main-link:hover {
  background-color: #fff;
  color: #DE2E54;
  border-color: #DE2E54;
}

.main-link:active {
  background-color: #DE2E54;
  color: #fff;
  opacity: 0.6;
}


/*  HERO  */
.hero {
  background-color: #0EB4C1;
  color: #fff;
}

.hero-container {
display: flex;
justify-content: space-between;
}

.hero-content {
  width: 500px;
  padding-top: 120px;
  padding-bottom: 120px;
}

.hero-heading {
  margin-top: 0;
  margin-bottom: 16px;
  font-family: "Open Sans Condensed";
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
}

.hero-text {
  margin-top: 0;
  margin-bottom: 36px;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  width: 440px;
}

.hero-img {
  align-self: flex-end;
}

.main-link-solid:hover {
  border-color: transparent;
  background-color: rgba(222, 46, 84, 0.8);
  color: #fff;
}

.main-link-solid:active {
  background-color: rgba(222, 46, 84, 0.6);
  opacity: 1;
}


/* INDEX-SERVICES  */
.index-services {
  padding-top: 120px;
  padding-bottom: 120px;
}

.index-services-heading {
margin-top: 0;
margin-bottom: 56px;
text-align: center;
font-family: "Open Sans Condensed";
font-size: 36px;
font-weight: 700;
line-height: 1.2px;
color: rgba(0, 0, 0, 1);
}

.index-services-list {
  width: 864px;
  padding: 0;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  list-style: none;
}

.index-services-item:not(:last-child) {
margin-bottom: 80px;
}

.index-service {
  display: flex;
  align-items: center;
}

.index-services-img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-right: 64px;
  box-shadow: 0px 12px 24px -8px rgba(0, 107, 116, 0.3);
  border-radius: 24px;
}

.index-services-content {
  width: 600px;
}

.index-services-title {
  margin-top: 0;
  margin-bottom: 24px;
  font-family: "Open Sans Condensed";
  font-style: 24px;
  line-height: 1.2;
  color: #222;
}

.index-services-description {
  margin: 0;
}

.services-button-link {
  display: flex;
  justify-content: center;
}




/* SITE-FOOTER  */
.site-footer {
  background-color: #222;
}

.site-footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
}

.site-footer-logo {
  color: #fff;
}

.site-footer-logo:hover {
  color: #DE2E54;
}

.site-footer-logo:active {
  color: #fff;
  opacity: 0.6;
}

.site-footer-links {
  color: #fff;
}

.site-footer-links:hover {
  color: #DE2E54;
}

.site-footer-links:active {
  color: #fff;
  opacity: 0.6;
}
